:host {
    position: absolute;
    right: 0;
    bottom: 0;
}

button.title {
    padding: 0;
    line-height: 1;
    color: #ddd;
    font-weight: 300;
    opacity: 0.7;
    text-transform: capitalize;
    font-size: 14px;
    display: block;
}

.advertising-disclosure-box {
    position: absolute;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #f1f1f0;
    box-shadow: 0 5px 5px rgba(4, 5, 5, .27);
    width: 325px;
    top: 30px;
    right: 0;
}

::ng-deep .advertising-disclosure-box .title {
    color: #0d47a1;
    font-weight: 300;
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5px;
}

::ng-deep .advertising-disclosure-box .body {
    font-size: 13px;
    color: #3e3e3e;
    line-height: 1.5;
}

::ng-deep .advertising-disclosure-box .got-it {
    text-align: right;
    line-height: 1;
    display: block;
    padding: 0;
    color: #21538d;
    opacity: 0.7;
    text-transform: uppercase;
}

::ng-deep .advertising-disclosure-box.mobile {
    display: none;
    padding: 15px;
    background-color: #e6e6e6;
    margin: 0 -15px;
}

::ng-deep .advertising-disclosure-box.mobile .title {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}

/* media-queries */

@media only screen and (max-width: 1199px) {
    :host {
        position: static;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 767px) {
    button.title {
        font-size: 12px;
        font-weight: 400;
    }
    .advertising-disclosure-box.desktop {
        display: none;
    }
    ::ng-deep .advertising-disclosure-box.mobile {
        display: block;
    }
}