:host {
    position: absolute;
    right: 0;
}

button.title {
    padding: 0;
    line-height: 1;
    color: #ddd;
    font-weight: 300;
    opacity: 0.7;
    text-transform: capitalize;
    font-size: 14px;
}