.items {
    display: flex;
    border: 1px solid #efefef;
    padding: 20px 15px 15px;
    min-height: 130px;
}

.items .item {
    flex: 3;
}

/* casino-site */

.items .item.item-casino-site {
    flex: 4;
}

.items .item.item-casino-site a {
    background: url('/assets/images/brands/32red.png') top center no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    height: 100%;
}

.items .item.item-casino-site a .ribbon {
    text-transform: uppercase;
    position: absolute;
    top: -12px;
    left: -15px;
    background-color: #ef6000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    min-width: 165px;
    padding-left: 15px;
}

.items .item.item-casino-site a .ribbon:after {
    content: "";
    display: block;
    position: absolute;
    right: -9px;
    border-right: 9px solid transparent;
    top: 0px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ef6000;
    border-top: 10px solid #ef6000;
}

/* item-welcome-bonus */

.items .item.item-welcome-bonus {
    text-align: center;
    flex: 5;
}

.items .item.item-welcome-bonus p {
    text-align: center;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

.items .item.item-welcome-bonus p .HLB {
    color: #2aaff7;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}

.items .item.item-welcome-bonus p.disclaimer {
    font-size: 11px;
    font-weight: 300;
    color: #666;
    display: inline-block;
    vertical-align: top;
}

/* item-user-rating */

.items .item.item-user-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.items .item.item-user-rating .stars-message {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    line-height: 1;
}

.items .item.item-user-rating .stars {
    display: flex;
    margin: 5px 0 15px;
}

.items .item.item-user-rating .stars .star {
    background: url('/assets/images/top-ten/empty-star.png') top center no-repeat;
    width: 20px;
    height: 18px;
}

.items .item.item-user-rating .stars .star.half-star {
    background-image: url('/assets/images/top-ten/half-star.png');
}

.items .item.item-user-rating .stars .star.full-star {
    background-image: url('/assets/images/top-ten/full-star.png');
}

.items .item.item-user-rating .read-review {
    text-transform: capitalize;
    color: #0288d1;
    font-weight: 100;
    font-size: 13px;
}

.items .item.item-our-score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.items .item.item-our-score .score {
    font-weight: 500;
    font-size: 64px;
    color: #2aaff7;
}

.items .item.item-bonus {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.items .item.item-bonus .get-bonus {
    display: flex;
    max-width: 155px;
    height: 50px;
    width: 100%;
    background-color: #f09819;
    background-color: #f09819;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #ffc71a 0%, #f09819 100%);
    background-image: -o-linear-gradient(top, #ffc71a 0%, #f09819 100%);
    background-image: linear-gradient(to bottom, #ffc71a 0%, #f09819 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFC71A", endColorstr="#FFF09819", GradientType=0);
    box-shadow: 1.2px 2.7px 7.5px 0.5px rgba(0, 0, 0, 0.2);
    color: #000;
    font-size: 23px;
    font-weight: 400;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.items .item.item-bonus .get-bonus:hover {
    background-image: -webkit-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: -o-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: linear-gradient(to bottom, #f8ef4f 0%, #f2ac45 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF8EF4F", endColorstr="#FFF2AC45", GradientType=0);
    background-image: -webkit-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: -o-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: linear-gradient(to bottom, #f8ef4f 0%, #f2ac45 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF8EF4F", endColorstr="#FFF2AC45", GradientType=0);
    text-decoration: none;
}

.items .item.item-bonus .visit {
    text-transform: capitalize;
    color: #0288d1;
    font-weight: 100;
    font-size: 13px;
}

/* media-queries */

@media only screen and (max-width: 991px) {
    .items .item {
        flex: 2;
    }
    .items .item.item-casino-site {
        flex: 3;
    }
    .items .item.item-welcome-bonus {
        flex: 5;
    }
    .items .item.item-our-score .score {
        font-size: 50px;
    }
    .items .item.item-bonus .get-bonus {
        font-size: 18px;
    }
    .items .item.item-user-rating .stars {
        flex-wrap: wrap;
        justify-content: center;
    }
    .items .item.item-user-rating .star {
        flex: 0 0 30%;
    }
}

@media only screen and (max-width: 767px) {
    .items {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292929+50,191919+50 */
        background: #292929;
        /* Old browsers */
        background: -moz-linear-gradient(left, #292929 50%, #191919 50%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #292929 50%, #191919 50%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #292929 50%, #191919 50%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#191919', GradientType=1);
        /* IE6-9 */
        flex-direction: column;
    }
    .items .item {}
}