.items {
    display: flex;
    border: 1px solid #efefef;
    padding: 20px 15px 15px;
    min-height: 130px;
}

.items .item {
    flex: 3;
}

.items .item.item-casino-site {
    background: url('/assets/images/brands/32red.png') top center no-repeat;
    background-size: contain;
    position: relative;
}

.items .item.item-casino-site .ribbon {
    text-transform: uppercase;
    position: absolute;
    top: -12px;
    left: -15px;
    background-color: #ef6000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    min-width: 165px;
    padding-left: 15px;
}

.items .item.item-casino-site .ribbon:after {
    content: "";
    display: block;
    position: absolute;
    right: -9px;
    border-right: 9px solid transparent;
    top: 0px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ef6000;
    border-top: 10px solid #ef6000;
}

.items .item.item-welcome-bonus {
    text-align: center;
    flex: 4;
}

.items .item.item-welcome-bonus p {
    text-align: center;
    flex: 4;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
}

.items .item.item-welcome-bonus p .HLB {
    color: #2aaff7;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}