<ul class="list-unstyled items">
  <li class="item item-casino-site">
    <a href="javascript:void(0)">
      <div class="ribbon">
        <span>top 10 favorite</span>
      </div>
    </a>
  </li>
  <li class="item item-welcome-bonus">
    <p>
      Get a <span class="HLB">150%</span> Bonus
      <br> Up To <span class="HLB">£150</span>
    </p>
    <p class="disclaimer">
      New customers only. 18+ <br />
      T&amp;Cs and wagering requirements apply.
    </p>
  </li>
  <li class="item item-user-rating">
    <ul class="list-unstyled stars">
      <li class="star full-star"></li>
      <li class="star full-star"></li>
      <li class="star full-star"></li>
      <li class="star half-star"></li>
      <li class="star"></li>
    </ul>
    <a href="javascript:void(0)" class="read-review">read review</a>
  </li>
  <li class="item">4</li>
  <li class="item">5</li>
</ul>