<ul class="list-unstyled items">
  <li class="item item-casino-site">
    <a href="javascript:void(0)">
      <div class="ribbon">
        <span>top 10 favorite</span>
      </div>
    </a>
  </li>
  <li class="item item-welcome-bonus">
    <p>
      Get a <span class="HLB">150%</span> Bonus
      <br> Up To <span class="HLB">£150</span>
    </p>
    <a href="javascript:void(0)" class="disclaimer">
      New customers only. 18+ <br />
      T&amp;Cs and wagering requirements apply.
    </a>
  </li>
  <li class="item">3</li>
  <li class="item">4</li>
  <li class="item">5</li>
</ul>