.items {
    display: flex;
    border: 1px solid #efefef;
    padding: 20px 15px 15px;
    min-height: 130px;
}

.items .item {
    flex: 3;
}

/* tem-casino-site */

.items .item.item-casino-site a {
    background: url('/assets/images/brands/32red.png') top center no-repeat;
    background-size: contain;
    position: relative;
    display: block;
    height: 100%;
}

.items .item.item-casino-site a .ribbon {
    text-transform: uppercase;
    position: absolute;
    top: -12px;
    left: -15px;
    background-color: #ef6000;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    min-width: 165px;
    padding-left: 15px;
}

.items .item.item-casino-site a .ribbon:after {
    content: "";
    display: block;
    position: absolute;
    right: -9px;
    border-right: 9px solid transparent;
    top: 0px;
    width: 0;
    height: 0;
    border-bottom: 10px solid #ef6000;
    border-top: 10px solid #ef6000;
}

/* item-welcome-bonus */

.items .item.item-welcome-bonus {
    text-align: center;
    flex: 4;
}

.items .item.item-welcome-bonus p {
    text-align: center;
    flex: 4;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

.items .item.item-welcome-bonus p .HLB {
    color: #2aaff7;
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
}

.items .item.item-welcome-bonus p.disclaimer {
    font-size: 11px;
    font-weight: 300;
    color: #666;
    display: inline-block;
    vertical-align: top;
}

/* item-user-rating */

.items .item.item-user-rating {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.items .item.item-user-rating .stars {
    display: flex;
    margin-bottom: 15px;
}

.items .item.item-user-rating .stars .star {
    background: url('/assets/images/top-ten/empty-star.png') top center no-repeat;
    width: 20px;
    height: 18px;
}

.items .item.item-user-rating .stars .star.half-star {
    background-image: url('/assets/images/top-ten/half-star.png');
}

.items .item.item-user-rating .stars .star.full-star {
    background-image: url('/assets/images/top-ten/full-star.png');
}

.items .item.item-user-rating .read-review {
    text-transform: capitalize;
    color: #0288d1;
    font-weight: 100;
    font-size: 13px;
}