.site-main {
    background-color: #eee;
}

.site-main .container {
    background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}

h1.page-title {
    font-size: 40px;
    color: #0288d1;
}

p.page-subtitle {
    font-size: 14px;
    color: #212121;
}

/* reviews */

.reviews .review {
    border-bottom: 1px solid #abe2fc;
}

.reviews .review:first-of-type {
    border-top: 1px solid #abe2fc;
}

/* review-items */

.reviews .review .review-items {
    display: flex;
    min-height: 115px;
    padding: 10px 0;
}

.reviews .review .review-items .review-item.review-item-casino-site {
    flex: 1;
}

.reviews .review .review-items .review-item.review-item-casino-site a {
    background: url('/assets/images/brands/32red/desktop.png') center center no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
}

.reviews .review .review-items .review-item.review-item-casino-site a:hover {
    opacity: .8;
}

.reviews .review .review-items .review-item.review-item-body {
    flex: 3;
    padding: 0 25px;
    display: block;
}

.reviews .review .review-items .review-item.review-item-body a.site-name {
    color: #212121;
    font-size: 18px;
    margin-top: 5px;
}

.reviews .review .review-items .review-item.review-item-body p {
    color: #212121;
    font-size: 12px;
    line-height: 1.4;
}

.reviews .review .review-items .review-item.review-item-body a.site-link {
    font-size: 12px;
}

.reviews .review .review-items .review-item.review-item-get-bonus {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviews .review .review-items .review-item.review-item-get-bonus .get-bonus {
    display: flex;
    max-width: 155px;
    height: 50px;
    width: 100%;
    background-color: #f09819;
    background-color: #f09819;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, #ffc71a 0%, #f09819 100%);
    background-image: -o-linear-gradient(top, #ffc71a 0%, #f09819 100%);
    background-image: linear-gradient(to bottom, #ffc71a 0%, #f09819 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFC71A", endColorstr="#FFF09819", GradientType=0);
    box-shadow: 1.2px 2.7px 7.5px 0.5px rgba(0, 0, 0, 0.2);
    color: #000;
    font-size: 23px;
    font-weight: 400;
    text-transform: capitalize;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.reviews .review .review-items .review-item.review-item-get-bonus .get-bonus:hover {
    background-image: -webkit-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: -o-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: linear-gradient(to bottom, #f8ef4f 0%, #f2ac45 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF8EF4F", endColorstr="#FFF2AC45", GradientType=0);
    background-image: -webkit-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: -o-linear-gradient(top, #f8ef4f 0%, #f2ac45 100%);
    background-image: linear-gradient(to bottom, #f8ef4f 0%, #f2ac45 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFF8EF4F", endColorstr="#FFF2AC45", GradientType=0);
    text-decoration: none;
}

.reviews .review .review-items .review-item.review-item-get-bonus .visit {
    text-transform: capitalize;
    color: #0288d1;
    font-weight: 100;
    font-size: 13px;
}

.show-more-reviews {
    display: flex;
    justify-content: flex-end;
}

.show-more-reviews button {
    font-size: 12px;
    color: #4a90e2;
    padding: 0;
    margin-top: 15px;
    line-height: 1;
}

.advertising-disclosure h3 {
    font-size: 18px;
    color: #0288d1;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
}

.advertising-disclosure p {
    font-size: 12px;
    color: #212121;
    line-height: 1.5;
}

/* media-queries */

@media only screen and (max-width: 767px) {
    h1.page-title {
        font-size: 32px;
    }
    p.page-subtitle {
        font-size: 16px;
        color: #727272;
        line-height: 1.2;
    }
    .reviews {
        margin: 0 -15px;
    }
    .reviews .review {
        margin-bottom: 10px;
    }
    .reviews .review .review-items {
        min-height: 100px;
        padding: 0;
    }
    .reviews .review .review-items .review-item.review-item-get-bonus {
        display: none;
    }
    .reviews .review .review-items .review-item.review-item-body {
        flex: 1;
        padding: 10px;
    }
    .show-more-reviews button {
        margin-top: 5px;
    }
}