<site-header></site-header>
<main class="site-main">
    <div class="container">
        <h1 class="page-title">Online Casino Reviews</h1>
        <p class="page-subtitle">
            Check out our online casino reviews, based on actual experiences, for details about promotions, software,
            payment methods, game selection and more.
        </p>
        <ul class="list-unstyled reviews">
            <li class="review">
                <ul class="list-unstyled review-items">
                    <li class="review-item review-item-casino-site">
                        <a href="javascript:void(0)"></a>
                    </li>
                    <li class="review-item review-item-body">
                        <a href="javascript:void(0)" class="site-name">32Red Review</a>
                        <p ellipsis mwlResizable [ngStyle]="resizeStyle"
                            [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
                            (resizeEnd)="onResizeEnd($event)" [enableGhostResize]="true">
                            32Red is an online casino powered by the renowned software provider, Microgaming. This
                            online casino has more than 500 games and a wide range of other great features. 32Red Casino
                            is dedicated to providing high quality customer service with highly trained customer agents
                            who are polite and ready to assist with all manner of queries. The gaming platform is
                            reliable and the bonuses are best in class. All in all, 32Red has all of the features you
                            will need to enjoy a rewarding online casino experience.
                        </p>
                        <a class="site-link" href="javascript:void(0)">Read More</a>
                    </li>
                    <li class="review-item review-item-get-bonus">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</main>
<site-footer></site-footer>