footer {
    background-color: #4c4c4c;
    border-top: 1px solid #bdcbd9;
    padding: 5px 0;
}

footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .links .link {
    font-size: 12px;
    color: #fff;
    margin: 5px 0;
}

footer .links .link a {
    color: #fff;
}

footer .links .link span.separator {
    margin: 0 5px;
}
