<footer>
  <div class="container">
    <ul class="list-unstyled">
      <li><a href="/">Top 10 Casinos</a><span>|</span></li>
      <li><a href="/casino-reviews">Reviews</a><span>|</span></li>
      <li><a href="/articles">Articles</a><span>|</span></li>
      <li><a href="/bonuses">Bonuses</a><span>|</span></li>
      <li><a href="/slots">Slots</a><span>|</span></li>
      <li><a href="/blackjack">Blackjack</a><span>|</span></li>
      <li><a href="/roulette">Roulette</a><span>|</span></li>
      <li><a href="/casino-compare">Feature Comparison</a><span>|</span></li>
      <li><a href="/privacy">Privacy Policy</a><span>|</span></li>
      <li><a href="/terms">Terms of Use</a><span>|</span></li>
      <li><a href="/cookie">Cookie Policy</a><span>|</span></li>
      <li><a href="/about">About Us</a><span>|</span></li>
      <li><a href="/sitemap">Sitemap</a><span>|</span></li>
    </ul>
  </div>
</footer>