<footer>
  <div class="container">
    <ul class="list-unstyled links">
      <li class="link"><a href="/">Top 10 Casinos</a><span class="separator">|</span></li>
      <li class="link"><a href="/casino-reviews">Reviews</a><span class="separator">|</span></li>
      <li class="link"><a href="/articles">Articles</a><span class="separator">|</span></li>
      <li class="link"><a href="/bonuses">Bonuses</a><span class="separator">|</span></li>
      <li class="link"><a href="/slots">Slots</a><span class="separator">|</span></li>
      <li class="link"><a href="/blackjack">Blackjack</a><span class="separator">|</span></li>
      <li class="link"><a href="/roulette">Roulette</a><span class="separator">|</span></li>
      <li class="link"><a href="/casino-compare">Feature Comparison</a><span class="separator">|</span></li>
      <li class="link"><a href="/privacy">Privacy Policy</a><span class="separator">|</span></li>
      <li class="link"><a href="/terms">Terms of Use</a><span class="separator">|</span></li>
      <li class="link"><a href="/cookie">Cookie Policy</a><span class="separator">|</span></li>
      <li class="link"><a href="/about">About Us</a><span class="separator">|</span></li>
      <li class="link"><a href="/sitemap">Sitemap</a></li>
    </ul>
  </div>
</footer>