.site-main {
    background: url('/assets/images/pages/home/bg-casino-2019.jpg') no-repeat;
    background-attachment: fixed;
}

p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.3;
}

.bonuses-updated {
    color: #ed5504;
    font-weight: 600;
    margin-bottom: 20px;
}

.bonuses-updated .title {
    color: #dfdfdf;
    font-weight: 300;
}

.additional-data {
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.additional-data .filter-top-ten {
    margin-right: 15px;
}

.additional-data .filter-top-ten label {
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}

.additional-data .filter-top-ten select {
    width: 100px;
}

/* media-queries */

@media only screen and (max-width: 767px) {
    .site-main {
       background: none;
    }
}