.site-main {
    background: url('/assets/images/pages/home/bg-casino-2019.jpg') no-repeat;
    background-attachment: fixed;
}

p.learn-more {
    color: #fff;
    /* font-size: 14px; */
    font-weight: 300;
    line-height: 1.4;
}

/* additional-data */

.additional-data {
    display: flex;
    margin-bottom: 10px;
    position: relative;
    flex-wrap: wrap;
}

.additional-data .bonuses-updated {
    color: #ed5504;
    font-weight: 600;
    margin-bottom: 20px;
    flex: 0 0 100%;
    max-width: 100%;
    line-height: 1;
}

.additional-data .bonuses-updated .title {
    color: #dfdfdf;
    font-weight: 300;
}

.additional-data .filter-top-ten {
    margin-right: 15px;
}

.additional-data .filter-top-ten label {
    color: #fff;
    font-size: 13px;
    font-weight: 100;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}

.additional-data .filter-top-ten select {
    width: 100px;
}

.top-sites h2.top-sites-title {
    text-transform: capitalize;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    margin: 30px 0 15px;
    display: flex;
    align-items: center;
}

.top-sites h2.top-sites-title:before {
    content: '';
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.top-sites h2.top-sites-title.top-live-casino-sites-title:before {
    width: 43px;
    height: 43px;
    background-image: url('/assets/images/pages/home/LiveCasino-Icon.png');
}

.top-sites h2.top-sites-title.top-slots-sites-title:before {
    width: 44px;
    height: 29px;
    background-image: url('/assets/images/pages/home/4-layers.png');
}

.top-sites .top-sites-link  {
    display: flex;
    justify-content: flex-end;
}

.top-sites .top-sites-link a {
    color: #2aaff7;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 15px;
}

/* media-queries */

@media only screen and (max-width: 1199px) {
    .additional-data {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 767px) {
    .site-main {
        background: none;
    }
    p.learn-more {
        display: none;
    }
    .additional-data {
        margin: 0;
    }
    .additional-data .filter-top-ten {
        display: none;
    }
    .additional-data .bonuses-updated {
        display: inline-flex;
        color: #ffbf3c;
        font-weight: 600;
        font-size: 11px;
        margin: 10px 0;
        flex: initial;
    }
    .bonuses-updated .title {
        color: #fefefe;
    }
    .top-sites {
        display: none;
    }
}