<site-header></site-header>
<main class="site-main" id="site-main">
    <div class="container">
        <div class="top-x-title home">
            <div class="top-x-title-image"></div>
            <div class="top-x-title-body">
                <h1>top 10 best online casinos of april 2019</h1>
                <h2>Find the best bonuses and great games in one place</h2>
            </div>
        </div>
        <p class="learn-more">
            If you want to learn more about great online casinos, you have reached the right place. Our team has
            examined and reviewed casino bonuses and offerings to bring you reputable operators with incredible
            deals.
        </p>
        <div class="additional-data">
            <div class="bonuses-updated">
                <span class="title">Bonuses updated:&nbsp;&nbsp;</span>
                <span class="duration">
                    <span class="hours">4 hours </span>
                    <span class="and">and </span>
                    <span class="minuts">2 minutes </span>
                    <span>ago</span>
                </span>
            </div>
            <div class="filter-top-ten">
                <label>filter by:</label>
                <select>
                    <option value="0" selected>Show All</option>
                    <option value="1">Offers Free Spins</option>
                    <option value="2">Offers Sports Betting</option>
                    <option value="3">Accepts PayPal</option>
                    <option value="4">Live Casino</option>
                    <option value="5">Min. Deposit £10 or below</option>
                </select>
            </div>
            <all-sites-are></all-sites-are>
            <advertising-disclosure></advertising-disclosure>
        </div>
        <top-ten-menu></top-ten-menu>
        <top-ten></top-ten>
    </div>
</main>
<site-footer></site-footer>