<site-header></site-header>
<main class="site-main">
    <div class="container">
        <div class="top-x-title">
            <div class="top-x-title-image"></div>
            <div class="top-x-title-body">
                <h1>top 10 best online casinos of april 2019</h1>
                <h2>Find the best bonuses and great games in one place</h2>
            </div>
        </div>
        <p>If you want to learn more about great online casinos, you have reached the right place. Our team has
            examined and reviewed casino bonuses and offerings to bring you reputable operators with incredible
            deals.</p>
        <top-ten></top-ten>
    </div>
</main>
<site-footer></site-footer>