<header>
  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class="container">
      <a class="logo" href="#"></a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse"
        data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="toggleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Top 10 Casinos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Articles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Slots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Blackjack</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Roulette</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Live Casino</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>