<header>
  <nav class="navbar navbar-expand-xl navbar-dark">
    <div class="container">
      <a routerLink="/" href="javascript:void(0)" class="logo"></a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar = !toggleNavbar" data-toggle="collapse"
        data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01" [ngbCollapse]="toggleNavbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a routerLink="/" href="javascript:void(0)" class="nav-link">Top 10 Casinos</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">Reviews</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">Articles</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">Slots</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">Blackjack</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">Roulette</a>
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">Live Casino</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>