/* You can add global styles to this file, and also import other style files */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1;
}