/* You can add global styles to this file, and also import other style files */

/*fonts*/

@font-face {
    font-family: robotoregular;
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
    src: url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'), url('/assets/fonts/roboto-fontfacekit/web-fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: robotoregular, Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

ul {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: 1;
}

router-outlet+* {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-main {
    flex: 1;
    padding: 30px 0;
}

/* top-ten-list */

ul.top-ten-list {
    margin-bottom: 30px;
}

ul.top-ten-list li:nth-of-type(2n) .items {
    background: #efefef;
}

/* top-x-title */

.top-x-title {
    color: #fff;
    display: flex;
}

.top-x-title .top-x-title-image {
    background: url('/assets/images/thumborange.png') no-repeat;
    width: 41px;
    height: 41px;
    margin-right: 20px;
}

.top-x-title .top-x-title-body h1 {
    font-size: 34px;
    font-weight: 700;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;
}

.top-x-title .top-x-title-body h2 {
    font-size: 26px;
    font-weight: 500;
}

/* media-queries */

@media only screen and (max-width: 1199px) {
    .container {
        max-width: initial;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-color: #292929;
    }
    .site-main {
        padding-top: 0;
    }
    .top-x-title {
        margin: 0 -15px;
        padding: 30px 15px 0;
    }
    .top-x-title.home {
        background: url('/assets/images/pages/home/casino1.jpg') center no-repeat;
        background-size: cover;
    }
    .top-x-title .top-x-title-image {
        display: none;
    }
    .top-x-title .top-x-title-body h1 {
        font-size: 22px;
    }
    .top-x-title .top-x-title-body h2 {
        font-size: 18px;
    }
}